*{
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}
:root{
    --title_size: 3em;
}
body{
    min-width: 100vw;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #F6E7D8;
}

#header{
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 5px 5px grey;
    background-color: #A2B5BB;
}

#title{
    font-size: var(--title_size);
    font-weight: 700;
    font-family: Roboto;
}

#body{
    flex-grow: 1;
}